@import url(_reset.css);
@import url(_variaveis.css);

body{
    background: url(../img/fundo-textura.png),
                url(../img/fundo-linhas.png);
    background-position: center;
    color: var(--cinza);

    font-family: var(--font-body);
    font-size: var(--font-body-size);
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.titulo{
    font-size: var(--tamanho-titulo);
}

.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight:var(--peso-titulo-destaque);

    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda{
    text-align: left;
}

.alinhamento--meio{
    text-align: center;
}

.texto {
    line-height: 26px;
}