@import url(_variaveis.css);
.botao{
    background-color: var(--amarelo);
    text-align: center;
    font-family:var(--font-body);
    font-weight: 700;
    color: var(--branco);

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    box-shadow: 10px 10px 30px var(--cinza);
    border: none;
}